---
type TOC = {
  depth: number;
  text: string;
  slug: string;
  subheadings: TOC[];
};

type Props = {
  heading: TOC;
};

const { heading } = Astro.props;
---

<li>
  <a href={"#" + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading: TOC) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
