---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Post from "@layouts/Post.astro";

export async function getStaticPaths() {
	const posts = await getCollection("post");
	return posts.map((post) => {
		return {
			params: { id: post.id },
			props: post,
		};
	});
}
type Props = CollectionEntry<"post">;

const post = Astro.props;
const { Content, remarkPluginFrontmatter, headings } = await render(post);

---

<Post minutesRead={remarkPluginFrontmatter.minutesRead} id={post.id} data={post.data} headings={headings}>
	<div class="">
		<Content />
	</div>
</Post>
