---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BlogPost from "@layouts/BlogPost.astro";

export async function getStaticPaths() {
	const posts = await getCollection("post");
	return posts.map((post) => {
		return {
			params: { id: post.id },
			props: post,
		};
	});
}
type Props = CollectionEntry<"post">;

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);

// const { Content, remarkPluginFrontmatter } = await entry.render();
---

<BlogPost minutesRead={remarkPluginFrontmatter.minutesRead} id={post.id} data={post.data}>
	<div class="">
		<Content />
	</div>
</BlogPost>
