---

---

<div class="w-full flex items-center justify-start md:justify-center">
  <article class="w-full sm:w-3/4 md:w-1/2 lg:w-2/3 2xl:max-w-6xl 2xl:w-[calc(100%-(18rem*2))] px-4">
    <slot />
  </article>
</div>
