---
import HeaderLink from "./HeaderLink.astro";
import GithubDark from "@components/langLogos/Github-Dark.svg";
import GithubLight from "@components/langLogos/Github-Light.svg";

interface Props {
	title?: "devlog";
}

const { title = "devlog" } = Astro.props;
---

<header
	class="sticky z-50 top-0 m-0 p-4 xl:p-6 bg-neutral-100 dark:bg-neutral-925 text-neutral-900 dark:text-neutral-50 border-b border-neutral-200 dark:border-neutral-800"
	transition:name="header"
>
	<nav class="flex align-middle justify-between gap-4">
		<h2 class="m-0 text-lg uppercase font-bold">
			<a class="inline-flex items-center gap-1" href="/"
				><span class="text-sm hidden lg:block">Keenan</span><span
					class="font-mono">|</span
				><span class="text-amber-500">{title}</span></a
			>
		</h2>
		<div class="flex-grow"></div>
		<a href="https://github.com/knicholson32" target="_blank" class="hidden xs:flex flex-shrink-0  flex-row items-center justify-center aspect-square gap-2 uppercase opacity-100 font-light">
			<img class="h-5 my-0 aspect-square hidden dark:inline-flex" src={GithubDark.src} />
			<img class="h-5 my-0 aspect-square dark:hidden" src={GithubLight.src} />
		</a>
		<div class="hidden xs:block border-r border-neutral-200 dark:border-neutral-800"></div>
		<div class="flex flex-row gap-2 uppercase opacity-100 font-light">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/post">Posts</HeaderLink>
			<HeaderLink href="/project">Projects</HeaderLink>
		</div>
		<slot />
	</nav>
</header>
