---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "@consts";
---

<header class="m-0 p-4 xl:p-6 bg-neutral-100 dark:bg-neutral-950/40 text-neutral-900 dark:text-neutral-50 border-b border-neutral-200 dark:border-neutral-800">
	<nav class="flex align-middle justify-between">
		<h2 class="m-0 text-lg"> <a class="" href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links flex flex-row gap-5">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/post">Posts</HeaderLink>
			<!-- <HeaderLink href="/about">About</HeaderLink> -->
		</div>
	</nav>
</header>