---
import type { CollectionEntry } from "astro:content";
import PostPreview from "./PostPreview.astro";

type Props = {
  posts: { minutesRead?: string, post: CollectionEntry<"post">}[];
};

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 gap-6 xs:grid-cols-2 md:grid-cols-3 max-w-7xl">
  {posts.map((post) => <PostPreview post={post.post} minutesRead={post.minutesRead} />)}
</div>
