---
type Props = {
  class?: string;
};

const { class: classList } = Astro.props;
---

<div class:list={[ classList ]}
  class="relative block h-full pt-1 sm:fixed sm:top-14 xl:top-20 right-0 sm:-z-10 sm:w-1/4 lg:w-1/6 2xl:w-72 sm:border-l border-neutral-200 dark:border-neutral-800">
  <slot />
  <hr class="my-0 py-0 sm:hidden border-neutral-200 dark:border-neutral-800" />
</div>
