---
type Props = {
  side: "left" | "right";
  class?: string;
};

const { side, class: classList } = Astro.props;
---

<div
  class:list={[{
    "block md:fixed md:w-1/4 md:top-14": side === "left",
    "block sm:fixed sm:w-1/4 sm:top-14": side === "right",
    "left-0": side === "left",
    "right-0": side === "right",
    "md:border-r": side === "left",
    "sm:border-l": side === "right",
    "sm:-z-10": side === "right",
  }, classList ]}
  class="relative lg:w-1/6 2xl:w-72 h-full xl:top-20 pt-1 border-neutral-200 dark:border-neutral-800"
>
  <slot />
  <hr class:list={{ 'sm:hidden': side==='right', 'md:hidden': side==='left' }}class=" my-0 py-0 border-neutral-200 dark:border-neutral-800" />
</div>
