---
type Props = {
  class?: string;
};

const { class: classList } = Astro.props;
---

<div class:list={[classList]} class="relative block md:fixed left-0 md:border-r md:w-1/4 md:top-14 lg:w-1/6 2xl:w-72 h-full xl:top-20 pt-1 border-neutral-200 dark:border-neutral-800">
  <slot />
  <hr class="md:hidden my-0 py-0 border-neutral-200 dark:border-neutral-800" />
</div>
