---
type Props = {
  side: "left" | "right";
};

const { side } = Astro.props;
---

<div
  class:list={{
    "hidden md:block": side === "left",
    "left-0": side === "left",
    "right-0": side === "right",
    "sm:border-r": side === "left",
    "sm:border-l": side === "right",
  }}
  class="relative sm:fixed sm:w-1/4 lg:w-1/6 2xl:w-72 h-full sm:-z-10 sm:top-14 xl:top-20 border-neutral-200 dark:border-neutral-800"
>
  <slot />
  <hr class="sm:hidden py-0 mt-0 pt-0 border-neutral-200 dark:border-neutral-800" />
</div>
